* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-div {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #f3eaef;
}

.landing-page-mobile {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.nav-div {
  display: flex;
  justify-content: center;
}

nav {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 410px;
}

.hamburger-menu-div {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 5px;
}

.menu-hr {
  background-color: black;
  height: 1px;
  width: 30px;
}

.shopping-cart-div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.main-hr {
  background-color: black;
  height: 1px;
  margin-top: 20px;
}

.light-hr {
  background-color: #f5f1f4;
  height: 0.1px;
}

.main-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.bottle-div-1 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f5f1f4;
}
.bottle-div-2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #e8cee2;
}
.bottle-div-3 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #a57aa65c;
}

.bottle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.text-div-1,
.text-div-2,
.text-div-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff8f8;
}

.product-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;
  margin: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: black;
}

.glass-bottle-info {
  margin-top: -10px;
  color: #5f5d5d;
}

.newsletter-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f3eaef;
  height: 150px;
  padding: 20px;
}

.subscribe-div {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: center;
  gap: 25px;
}

#email-sub-input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  background-color: #f3eaef;
}

#email-sub-input:focus {
  outline: none;
}

.sub {
  background-color: #f3eaef;
  border: none;
  font-size: 0.8rem;
}

.sub:hover {
  background-color: #a57aa65c;
  cursor: pointer;
}

#main-contact-wrapper {
  background-color: #eedcea;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contact-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3px;
}

.form-input {
  height: 20px;
}

.form-input,
#q-field {
  width: 100%;
  border: none;
  background-color: #f5f1f4;
}

.form-input:focus,
#q-field:focus {
  outline: none;
}

.contact-sub {
  background-color: #eedcea;
  border: none;
  margin-left: 290px;
  font-size: 0.8rem;
}

.contact-sub:hover {
  right: 100px;
  background-color: #a57aa65c;
  cursor: pointer;
}

textarea {
  resize: none;
}

.card-img {
  width: 220px;
}

.footer-mobile {
  padding: 10px;
  background-color: #fff8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-columns {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 230px;
}

.footer-col-1,
.footer-col-2 {
  line-height: 40px;
}

.main-new-and-social {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}

.new-and-social {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.packaging {
  display: flex;
  align-items: center;
  width: 150px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 10px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.bi-twitter,
.bi-instagram,
.bi-facebook {
  font-size: 25px;
  color: #a57aa6;
}

.menu-contact,
.menu-contct:visited {
  margin-left: -18px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .landing-page-web {
    display: none;
  }

  .main-footer-web {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .landing-page-mobile {
    display: none;
  }

  .landing-page-web {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }

  .nav-div-web {
    display: flex;
    justify-content: center;
  }

  .nav-web {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 650px;
    font-size: 19.5px;
  }

  .subscribe-div {
    gap: 50px;
  }

  .label-form {
    font-size: 1.5rem;
  }

  .label-sub-email {
    font-size: 1.2rem;
  }

  .sub-email {
    width: 300px;
  }

  #main-contact-wrapper {
    padding: 60px;
    gap: 30px;
  }

  .contact-div {
    gap: 100px;
  }

  .form {
    gap: 5px;
  }

  .form-input {
    height: 25px;
  }

  .sub {
    font-size: 1rem;
  }

  .contact-sub {
    font-size: 1rem;
  }

  .card-img {
    width: 300px;
  }

  .footer-mobile {
    display: none;
  }

  .footer-web {
    padding: 10px;
    background-color: #fff8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-columns {
    font-size: 1.3rem;
    gap: 200px;
  }

  .footer-col-1,
  .footer-col-2 {
    margin-top: 40px;
    line-height: 40px;
  }

  .main-new-and-social {
    flex-direction: column;
    justify-content: center;
  }

  .new-and-social {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .bi-twitter,
  .bi-instagram,
  .bi-facebook {
    font-size: 25px;
    color: #a57aa6;
  }
  .text-div-1,
  .text-div-2,
  .text-div-3,
  .bottle-div-1,
  .bottle-div-2,
  .bottle-div-3 {
    flex: 100%;
    padding: 0px;
  }

  .text-img-row {
    display: flex;
    flex-direction: row;
  }

  .text-div-1,
  .text-div-3,
  .bottle-div-2 {
    order: 1;
  }
  .bottle-div-1,
  .text-div-2,
  .bottle-div-3 {
    order: 2;
  }

  .bottle {
    padding-top: 20px;
  }

  .glass-bottle-info {
    margin-bottom: 20px;
  }
}
